// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";


.nav-bar {
    nav {
        @extend .indigo;
        font-size: 24px;
        span {
            margin-left: 10px;
        }
    }

    .dropdown-button {
        @extend .indigo, .darken-2;
        font-size: 24px;
    }

    .dropdown-content li > a, .dropdown-content li > span {
        // color: #26a69a;
    }

    ul#dropdown1 {
        li > a {
            //@extend .black-text;
            color: black;
        }
    }
}


.nav-bar nav ul li {
    a {
        width: 250px;
    }
    &:disabled, &.disabled {
        a {
            color: grey !important;
        }
        pointer-events: none;
    }
}

.r-canvas {
    width: 100%;

    canvas {
        width: calc(100% - 400px);
        image-rendering: pixelated;
        border:1px solid #000000;
    }
    div.controls {
        width: 300px;
        display: inline-block;
        vertical-align: top;
    }
}

